@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;

}


.box-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.interior-carrinho {
    width: 40rem;
    height: 55rem;
    background-color: white;
    border-radius: 2rem;

    .produtos-carrinho {
        float: left;
        padding: 2rem;




        .image-produto {
            align-items: center;
            display: flex;
            flex-direction: row;

            img {
                
                border-radius: 1rem;
            }

            
        }
        
        .add-dimin{
            display: flex;
            gap: 0.5rem;
            margin-left: 3rem;
            
            

            button{ 
                width: 1.4rem;
                height: 1.7rem;
                border-radius: 0.2rem;
                border: solid 1px #A8D2A0;
                background-color: #A8D2A0;
                color: white;
                

            }
            
        }


    }

    .resumo {
        .resumo-content {
            padding-top: 10rem;
        }

        .botoes {
            

            .finalizar-compra {
                border: none;
                border-radius: 10px;
                padding: 8px 16px;
                background-color: #325037;
                margin-bottom: 1rem;
                transition: all ease-in-out 1s;
            }

            .finalizar-compra:hover {
                scale: 1.1;
            }

            .adicionar-produto {
                border: none;
                border-radius: 10px;
                padding: 8px 16px;
                background-color: #51B061;
                transition: all ease-in-out 1s;
            }

            .adicionar-produto:hover{
                scale: 1.1;
            }
        }

    }
}