@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media only screen and (max-width: 610px) and (min-width:412px)  {

    .box3 {
       min-width: 100%;
        
        .holder{
            padding: 10rem;
        }
    }
  }

.box3{
    min-width: 100%;
    background-color: #325037;
}

.interior{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    background-color: #325037;
    text-align: center;
    flex-wrap: wrap;
    font-family: Inter, sans-serif;
    font-weight: bold; 
    color: white;
}

.aside-left{
    flex: 2;
}

.holder{
    display: flex;
    justify-content: center;
    align-items: center ; 
    width: 100vw;
    flex: 2;
    flex-wrap: wrap;
}

.redes-sociais{
   padding: 1rem;
   
   a {
    text-decoration: none;
   }

   .rede{
    margin: 0.5rem;
    cursor: pointer;
   }
    
}


.aside-right{
    flex: 2;
}
